.location {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

@media screen and (max-width: 1440px) {
    .location {
        grid-template-columns: 1fr;
    }
    .wisconsin-map-link {
        margin: 0 !important;
    }
}

.wisconsin-map-link {
    margin: auto;
}

.wisconsin-map-img {
    filter: grayscale(100%);
    transition: all .6s ease;
}

.wisconsin-map-img:hover {
    filter: grayscale(0%);
}

.address-link,
.phone-link {
    text-decoration: none;
    color: inherit;
}

.campus-address {
    font-style: normal;
}