.header-main-wrapper {
  margin-top: 5px;
  background-color: #fec424;
  height: 120px;
}

.header-main-content {
  margin: auto;
  height: 120px;
  position: relative;
  width: 80%;
  max-width: 1080px;
  white-space: nowrap;
}

.wordmark-wrapper,
.site-title-wrapper {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.wordmark {
  height: 100px;
}

.site-title-wrapper {
  height: 100%;
}

.site-title {
  font-size: 33px;
  font-weight: 600;
  padding-top: 50px;
  color: #333;
  white-space: normal;
}

.secondary-nav-wrapper {
  position: absolute;
  top: 0;
  padding-top: 15px;
  width: 100%;
  text-align: right;
}

.secondary-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.secondary-nav li {
  display: inline-block;
  padding: 0 6px;
}

.secondary-nav li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
