.header-main-wrapper {
    margin-top: 5px;
    background-color: #fec424;
    height: 120px;
    display: grid;
}

.header-main-content {
    margin: auto;
    height: 120px;
    min-width: 1080px;
    position: relative;
}

.wordmark-wrapper,
.site-title-wrapper {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.wordmark {
    height: 100px;
}

.site-title-wrapper {
    height: 100%;
}

.site-title {
    font-size: 33px;
    font-weight: 600;
    padding-top: 50px;
    color: #333;
}

.uwo-top-nav-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 72px;
}

.uwo-top-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.uwo-top-nav li {
    display: inline-block;
    padding: 0 6px;
}

.uwo-top-nav li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}