.footer-main {
  background-color: #b0b0b0;
}

.footer-main-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 45px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

@media screen and (max-width: 768px) {
  .footer-main-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .footer-main-wrapper {
    grid-template-columns: 1fr;
  }
}

.footer-main .title {
  font-weight: 600;
}