.badges-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px
}

@media screen and (max-width: 1440px) {
    .badges-wrapper {
        grid-template-columns: 1fr;
    }
}

.accreditation-wrapper {
    filter: grayscale(100%);
}