.footer-wrapper {
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer-top {
  background-color: #fec424;
  color: #444;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 0;
}

.footer-bottom {
  background-color: #444;
  color: #dbdbdb;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-weight: 300;
}

.copyright,
.social {
  display: inline-block;
  margin: auto 0;
}

.social {
  text-align: right;
}

.social-item {
  padding-left: 30px;
  transition: all 0.6s ease;
}

.social-item.facebook:hover {
  color: #3b5998;
}

.social-item.twitter:hover {
  color: #1da1f2;
}

.social-item.instagram:hover {
  color: #f56040;
}

.social-item.youtube:hover {
  color: #cd201f;
}

.social-item.linkedin:hover {
  color: #0077b5;
}

.social-item.pinterest:hover {
  color: #bd081c;
}

.social-item.flickr:hover {
  color: #8032b0;
}
