.quickLinks-title {
    padding-left: 50px;
}

.quickLinks-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.link-wrapper {
    display: grid;
    grid-template-columns: 50px 1fr;
    color: inherit;
    text-decoration: none;
}

.link-wrapper svg {
    transition: all .6s ease;
}

.link-wrapper:hover {
    text-decoration: underline;
}

.link-wrapper:hover svg {
    color: #fec424;
}

.quickLinks-icon {
    font-size: 40px;
}

.quickLinks-content-wrapper *:nth-child(odd) {
    margin: 10px auto;
}

.quickLinks-content-wrapper *:nth-child(even) {
    margin: auto 0;
}